astroid==2.3.3
autopep8==1.4.4
colorama==0.4.1
Django==2.2.24
gunicorn==19.9.0
html5lib==1.0.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pdfkit==0.6.1
Pillow==6.2.1
pycodestyle==2.5.0
pylint==2.4.3
pylint-django==2.0.12
pylint-plugin-utils==0.6
PyPDF2==1.26.0
python-pdf==0.37
pytz==2019.3
reportlab==3.5.32
six==1.13.0
sqlparse==0.3.0
webencodings==0.5.1
whitenoise==4.1.4
wkhtmltopdf==0.2
wrapt==1.11.2
xhtml2pdf==0.2.3
