{% extends 'admin/adminbase.htm' %}

{% block javascript %}
<script src="/static/site/js/lineofapproval.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 mb-4">
        <!-- <button type="button" onclick="location.href = '/editlineofapproval'" class="btn btn-primary float-right"><i
                class="fa fa-plus" aria-hidden="true"></i> Add Line Of Approval</button> -->
        <!-- Modal-->
        <!-- <div id="addLOAModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
            class="modal fade text-left">
            <div role="document" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title">Add Line Of Approval</h5>
                        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                aria-hidden="true">×</span></button>
                    </div>
                    <form action="addbusinessunit" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" placeholder="Business unit name" name="name" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Prefix</label>
                                <input type="text" placeholder="Prefix" name="prefix" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card">
            <div class="card-header">
                <h3 class="h6 text-uppercase mb-0">Add Line Of Approval</h3>
            </div>
            <div class="card-body">
                <form class="form-horizontal loa-form" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{editLineOfApproval.id}}">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Name</label>
                        <div class="col-md-9">
                            <input type="text" name="name" value="{{editLineOfApproval.name}}" class="form-control"
                                required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Business Unit
                            {{editLineOfApproval.businessunit.id}}</label>
                        <div class="col-md-9 select mb-3">
                            <select name="businessunit" class="form-control" required>
                                <option value="">Select Business Unit</option>
                                {% for businessunit in businessunits %}
                                <option value="{{businessunit.id}}"
                                    {% if businessunit.id == editLineOfApproval.businessunit.id %} selected {% endif %}>
                                    {{businessunit.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">Number Of Approver's</label>
                        <div class="col-md-9">
                            <input id="Approvers" type="number" name="approverneeded"
                                value="{{editLineOfApproval.no_of_approver}}" min="0" max="{{users | length}}"
                                class="form-control">
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                            <div class="col-md-9 ml-auto">
                                <button id="AddApprover" type="button" class="btn btn-primary float-right"><i class="fa fa-plus" aria-hidden="true"></i> Add Approver</button>
                            </div>
                        </div> -->

                    <div class="form-group row">
                        <div class="col-md-9 ml-auto">
                            <button id="AddLevel" data-last-indx="1" data-level-indx={{max_level}} type="button"
                                class="btn btn-primary float-right"><i class="fa fa-plus" aria-hidden="true"></i> Add
                                Level</button>
                        </div>
                    </div>


                    {% regroup editLineOfApprovalDetail by level as approver_levels %}
                    <div id="LoaDetails">
                        {% for level in approver_levels %}
                        <div class="line"></div>
                        <div class="form-group row" style="">
                            <div class="col-md-9 ">
                                <h4 class="float-left">Level #{{ level.grouper }}</h4>
                            </div>
                            <div class="col-md-9 ml-auto">
                                <button data-indx="{{ level.grouper }}" data-last-indx="{{level.list | length}}"
                                    data-level-indx="{{level.grouper}}" type="button"
                                    class="btn btn-primary add-approver float-right"><i class="fa fa-plus"
                                        aria-hidden="true"></i> Add
                                    Approver</button>
                            </div>
                        </div>
                        <div id="ApproverList{{forloop.counter}}" class="loa-approvals">
                            {% for approver in level.list %}
                            <div class="form-group row approver-line-item" style="">
                                <label class="col-md-3 form-control-label">Approver #{{forloop.counter}}</label>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="hidden" name="level" value="{{ level.grouper }}" />
                                            <select name="approver" class="form-control" required>
                                                <option value="">Select Approver</option>
                                                {% for user in users %}
                                                <option value="{{user.user_id}}"
                                                    {% if user.user_id == approver.approver_id %} selected {% endif %}>
                                                    {{user.user.username}} - {{user.role.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="custom-control custom-checkbox">
                                                <input id="customCheck{{level.grouper}}{{forloop.counter}}" name="mustapprove"
                                                    type="checkbox" class="custom-control-input"
                                                    {% if approver.must_approve == True %} checked {% endif %}>
                                                <label for="customCheck{{level.grouper}}{{forloop.counter}}"
                                                    class="custom-control-label">Must
                                                    approve</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2">
                                    <button type="button" class="btn btn-default float-right remove-approver"><i class="fa fa-times" style="color: crimson;" aria-hidden="true"></i></button>
                                </div> -->
                            </div>
                            {% endfor %}
                        </div>
                        <div class="line"></div>
                        {% endfor %}
                    </div>

                    <!-- <div id="LoaDetails">
                        {% for lineOfApprovalDetail in editLineOfApprovalDetail %}
                        <div class="form-group row approver-line-item">
                            <input type="hidden" name="lineOfApprovalId"
                                value="{{lineOfApprovalDetail.line_of_approval_id}}">
                            <input type="hidden" name="lineOfApprovalDetailId" value="{{lineOfApprovalDetail.id}}">
                            <label class="col-md-3 form-control-label">Approver #{{ forloop.counter }}</label>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-5">
                                        <select name="approver" class="form-control" required>
                                            <option value="">Select Approver</option>
                                            {% for user in users %}
                                            <option value="{{user.id}}"
                                                {% if user.user_id == lineOfApprovalDetail.approver.id %} selected
                                                {% endif %}>{{user.user.username}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-control custom-checkbox">
                                            <input id="customCheck{{ forloop.counter }}" name="mustapprove"
                                                type="checkbox" class="custom-control-input"
                                                {% if lineOfApprovalDetail.must_approve == True %} checked {% endif %}>
                                            <label for="customCheck{{ forloop.counter }}"
                                                class="custom-control-label">Must approve</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div> -->

                    <div class="line"></div>

                    <div class="form-group row">
                        <div class="col-md-9 ml-auto">
                            <button type="button" onclick="location.href = '/lineofapprovals'"
                                class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="LoaTemplate" class="loa-levels">
    <div class="line"></div>
    <div class="form-group row" style="display: none;">
        <div class="col-md-9 ">
            <h4 class="float-left">{level}</h4>
        </div>
        <div class="col-md-9 ml-auto">
            <button data-indx="{idx}" data-last-indx="{lastindx}" data-level-indx="{levelindx}" type="button"
                class="btn btn-primary add-approver float-right"><i class="fa fa-plus" aria-hidden="true"></i> Add
                Approver</button>
        </div>
    </div>
    <div id="ApproverList{idx}" class="loa-approvals">
        <div class="form-group row approver-line-item" style="display: none;">
            <label class="col-md-3 form-control-label">{lblApprover}</label>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-5">
                        <input type="hidden" name="level" value="{levelindx}" />
                        <select name="approver" class="form-control" required>
                            <option value="">Select Approver</option>
                            {% for user in users %}
                            <option value="{{user.user_id}}">{{user.user.username}} - {{user.role.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="custom-control custom-checkbox">
                            <input id="customCheck{j}{lastindx}" name="mustapprove" type="checkbox"
                                class="custom-control-input">
                            <label for="customCheck{j}{lastindx}" class="custom-control-label">Must approve</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
</div>

<div id="zmr">
    <div id="ApproverLineItem{idx}" class="form-group row approver-line-item" style="display: none;">
        <label class="col-md-3 form-control-label">{lblApprover}</label>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5">
                    <input type="hidden" name="level" value="{level}" />
                    <select name="approver" class="form-control" required>
                        <option value="">Select Approver</option>
                        {% for user in users %}
                        <option value="{{user.user_id}}">{{user.user.username}} - {{user.role.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="custom-control custom-checkbox">
                        <input id="customCheck{lastindx}{j}" name="mustapprove" type="checkbox" class="custom-control-input">
                        <label for="customCheck{lastindx}{j}" class="custom-control-label">Must approve</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}